 
 /*GENERALIDADES DEL PROYECTO*/

*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
    font-size: 16px;   
    background-color: #fff;
   
}

:root{
    --Green-01: #4febd3;
    --Green01: #00917C;
    --Green02: #064138;
    --Green03: #02221D;
    --Black: #000000;

}

/* INICIO DE MODELACIÓN DEL NAV DE LA PÁGINA WEB */

header{
    width: 90%;
    margin: 5px auto;

}

.nav{
    width: 100%;  
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    
}

.nav__item{    
    text-decoration: none;
    padding: 0px 20px;
    font-size: 32px;
    color: var(--Green01);
    font-weight: 700;
}

/* Modificación en la posición del icono junto a la letra del mismo */

.nav > div {
    display: flex;
    align-items: center;
    flex-grow: 4;
 }

.icono{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--Green01);
    padding: 5px;
       
}

 .nav > div > h1{
    padding: 0px 10px;
    font-size: 72px;
 }

 .nav__item:hover, .nav__item:focus{
    color: var(--Green-01);
    border-bottom: 1px solid #4febd3;
    transition: all 0.3s; 
    transform:scale(1.05)
 }

 /* COMIENZO EN LA EDICIÓN DEL PRIMER ÁRTICULO DE LA PÁGINA */

 body{
    width: 90%;
    margin: 0 auto;
 }

 .main__box{
    width: 100%;
    background-image: url(img/Background__Bonsai.jpg);
    height: 650px;

/* esto sirve para cambiar los valores/propiedades de los fondos/background con imágenes */

    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
 }

.box__text{
    margin: 29px ;
    width: 60%;
    height: 585px;
    background-color: #00917bbd;
    box-shadow: 3px 3px 8px #00000070;

}
/* Aparentemente, los textos generan su propio background, por tanto los retiré */

.title,.box__text__content, .text__color, .box__text > a {
    background: none;
    text-decoration: none;
}

.maintext__box > .title{
    padding: 41px 251px 17px 44px;
    font-size: 56px;
    
}

.maintext__box > .title > .text__color {
    font-size: 55px;
    color: var(--Green03);
}

.box__text__content {
    padding: 0 153px 25px 44px;
    font-size: 30px;
    color: var(--Green03);

}

.box__text > a{
    font-size: 26px;
    margin: 0 44px;
    font-weight: 600;
    border-bottom: 1px solid #000000;
    color: var(--Green03);
    display: inline;
}

.box__text > a:hover {
    color: #4febd3;
    border-bottom: 1px solid#4febd3;
    transition: all 0.3s; 
    transform:scale(1.05)
}

/* COMIENZO DE LA SEGUNDA SECCIÓN DE LA PÁGINA */

.article__box{
    width: 77%;
    height: 700px;
    margin: 15px auto; 
    display: flex;
    justify-content: space-around;
    
}
.article__img{
    object-fit: contain;
    padding: 30px 0px;
}

.box__text__article{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    padding: 0;
    
}

 /* Termino la edición general de las cajas y empieza la individual (al parecer se guardaron condiciones aplicadas anteriormente y por tanto toco reiniciar los estilos) */

.box__text__article > h3 {
    font-size: 22px;
    text-align: center;
    padding: 0;
}
.subtitle {
    padding: 0;
    color: var(--Green01);
    font-size: 36px;
}
.box__text__article > h3 {
    font-size: 19px;
    text-align: justify;
    padding: 40px 0;
}


.box__text__article > div {
    display: flex;
}

.box__text__article > div > a {
    font-weight: 600;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    padding: 0;
    color: var(--Green03);
}

.box__text__article > div > img{
    justify-items: center;
    width: 25px;
}

.box__text__article > div > a:hover {
    color: var(--Green01);
    border-bottom: 2px solid var(--Green-01);
}

/* COMIENZA LA TERCERA SECCIÓN DE LA PÁGINA */