 
 /*=================================== GENERALIDADES DEL PROYECTO ==========================================================*/

*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
    font-size: 16px;   
    background-color: #fff;
    box-sizing: border-box;
   
}

:root{
    --Green-01: #4febd3;
    --Green01: #00917C;
    --Green02: #064138;
    --Green03: #02221D;
    --Black: #000000;

}

/*============================ INICIO DE MODELACIÓN DEL NAV DE LA PÁGINA WEB ===============================================*/

.icon__responsive,.nav__responsive{
    position: absolute;
    visibility: hidden;
}

header{
    width: 90%;
    margin: 5px auto;

}

.nav{
    width: 100%;  
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    
}

.nav__item{    
    text-decoration: none;
    padding: 0px 20px;
    font-size: 32px;
    color: var(--Green01);
    font-weight: 700;
}

/* Modificación en la posición del icono junto a la letra del mismo */

.nav > div {
    display: flex;
    align-items: center;
    flex-grow: 4;
 }

.icono{
    width: 80px;
    height: auto;
    border-radius: 50%;
    background-color: var(--Green01);
    padding: 5px;
       
}

 .nav > div > h1{
    padding: 0px 10px;
    font-size: 72px;
 }

 .nav__item:hover, .nav__item:focus{
    color: var(--Green-01);
    border-bottom: 1px solid #4febd3;
    transition: all 0.3s; 
    transform:scale(1.05)
 }

 /*============================ COMIENZO EN LA EDICIÓN DE LA SECCIÓN MAIN ==================================================*/

 .main__box{
    width: 90%;
    margin: 0 auto;
    background-image: url(img/Background__Bonsai.jpg);
    height: 650px;

/* esto sirve para cambiar los valores/propiedades de los fondos/background con imágenes */

    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
 }

.box__text{
    margin: 29px ;
    width: 60%;
    height: 585px;
    background-color: #00917bbd;
    box-shadow: 3px 3px 8px #00000070;

}
/* Aparentemente, los textos generan su propio background, por tanto los retiré */

.title,.box__text__content, .text__color, .box__text > a {
    background: none;
    text-decoration: none;
}

.maintext__box > .title{
    padding: 5% 25% 17px 4%;
    font-size: 56px;
    
}

.maintext__box > .title > .text__color {
    font-size: 55px;
    color: var(--Green03);
}

.box__text__content {
    padding: 0 15% 2% 4%;
    font-size: 30px;
    color: var(--Green03);

}

.box__text > a{
    font-size: 26px;
    margin: 0 4%;
    font-weight: 600;
    border-bottom: 1px solid #000000;
    color: var(--Green03);
    display: inline;
}

.box__text > a:hover {
    color: #4febd3;
    border-bottom: 1px solid#4febd3;
    transition: all 0.3s; 
    transform:scale(1.05)
}

/*======================== COMIENZO DE LA PRIMERA SECCIÓN O ARTICULO DE LA PÁGINA =================================================*/

.article__box{
    width: 75%;
    height: auto;
    margin: 15px auto;
    display: grid;
    grid-template-columns: minmax(375,1fr) minmax(350,1fr);
    grid-template-rows: auto;   
    justify-items: center;
    align-items: center;    
}

.article__img{
    min-width: 330px;
    max-width: 450px;
    object-fit: contain;
    padding: 30px 0px;
    align-self: center;
    width:100%;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.box__text__article{
    display:flex ;
    flex-direction: column; 
    align-items: center;
    margin-left: 8%;
    padding: 0;
    text-align: center;
    min-width: 330px;
    grid-column-start: 3;
    grid-column-end: 5;
    
}

 /* Termino la edición general de las cajas y empieza la individual (al parecer se guardaron condiciones aplicadas anteriormente y por tanto toco reiniciar los estilos) */

.box__text__article > h3 {
    font-size: 22px;
    text-align: center;
    padding: 0;
}
.subtitle {
    padding: 0;
    color: var(--Green01);
    font-size: 36px;
}
.box__text__article > h3 {
    font-size: 19px;
    text-align: justify;
    padding: 4% 0;
}


.box__text__article > div {
    display: flex;
}

.box__text__article > div > a {
    font-weight: 600;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    padding: 0;
    color: var(--Green03);
    border-radius: 20%;
    padding: 5px;
}

.box__text__article > div > img{
    justify-items: center;
    width: 25px;
}

.box__text__article > div > a:hover {
    color: var(--Green01);
    border-bottom: 2px solid var(--Green-01);
}

/*============================= COMIENZA LA TERCERA SECCIÓN DE LA PÁGINA ===================================================*/

/* Configuración de propiedades de cajas */

.article__article__02 > .box__section{
    background-color:var(--Green01);
    height: auto;
}

.article__article__02 > .box__section > .box__list{
    background: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
    gap: 50px 100px;
    padding: 0 12% 5%;
    background-image: url(img/Background__Bonsai__02.jpg);
    background-repeat: no-repeat;
    background-position: 30% 40%;
    background-size: cover;
 
}

.article__article__02 > .box__section > .box__list > .box__box__list{
    justify-self: center;
    background-color:var(--Green01);
    display: flex;
    margin-top: 5%;
    background: none;
}

/* Propiedades especificas dentro de los contenedores */

.article__article__02 > .box__section > .box__text__content {
    text-align: left ;
    color: var(--Green03);
    padding: 3% 8% ;
    font-size: 60px;
    width: 100%;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgba(0,0,0,.25);
}

.article__article__02 > .box__section > .box__list > .box__box__list > .box__box__list__img {
    object-fit: contain;
    align-self: start;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
    margin-top: 10px;
}

.article__article__02 > .box__section > .box__list > .box__box__list > .box__box__list__text {
    text-align: left;
    padding: 0 10px 3%;
    background: none;
    color: var(--Green03);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 5px 5px 10px rgba(0,0,0,.55);
    
}

.article__article__02 > .box__section > .box__list > .box__box__list > .box__box__list__text > h3 {
    font-size: 25px;
    padding: 10px 0;
    background: none;
    font-weight: 800;
}

.article__article__02 > .box__section > .box__list > .box__box__list > .box__box__list__text > h4 {
    font-size: 16px;
    padding: 10px 0;
    background: none;
    font-weight: 400;
}

/*====================================== INICIO DEL FOOTER =================================================================*/

.footer__box{    
    background-color: var(--Green03);
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
}

.footer__box > .footer__box__icon{
    background: none;
    display: flex;
    align-items: center;
    padding: 5px 10px;

}

.footer__box > .footer__box__icon > a {
    background: none;
}

.footer__box > .footer__box__icon > a >.icono{
    padding: 5px;
    width: 60px;
    height: auto;
}

.footer__box > .footer__box__icon > .subtitle{
    background: none;
    margin-left: 10px;
}

.footer__box > .footer__box__copy > .text__footer__copy{
    background-color: var(--Green03);
    color: var(--Green01);
}

.footer__box__iconsocial{
    background: none;
}

.footer__box__iconsocial > a {
    background:none;
}

.footer__box__iconsocial > a > img{
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    background-color: var(--Green01);
}

/* INTENTO DE CREAR LA PÁGINA RESPONSIVE DESIGN */

@media screen and (max-width: 1725px){/* ====================================== 1725 ====================================== */

    /* --------------------------------- Configuración main --------------------------------------------------------------- */

    .maintext__box > .title, .maintext__box > .title > .text__color {
        font-size: 47px;        
    }

    .box__text__content{
        font-size: 27px;
    }
}

@media screen and (max-width: 1300px){/* ====================================== 1300 ====================================== */

    /* --------------------------------- Configuración nav --------------------------------------------------------------- */

    .article__article__02 > .box__section > .box__text__content {
        font-size: 47px;
    }

    .article__article__02 > .box__section > .box__list{
        padding: 0 8% 5%;
        gap: 30px 60px;
    }
}

@media screen and (max-width: 1250px){/* ====================================== 1250 ====================================== */

    /* --------------------------------- Configuración main -------------------------------------------------------------- */

    .maintext__box > .title, .maintext__box > .title > .text__color {
        font-size: 42px;        
    }

    .box__text__content,.box__text > a {
        font-size: 25px;
    }

}

@media screen and (max-width: 1100px){/* ====================================== 1100 ======================================= */

    /* ---------------------------------- Configuración nav -------------------------------------------------------------- */

    .nav > div > h1{
        font-size: 50px;
     }

    .nav > a {
        font-size: 20px;
    }
}

@media screen and (max-width: 960px){ /* ====================================== 960 ======================================= */

    /* ----------------------------- Configuración articulo no1 -------------------------------------------------------- */

    .article__img{
        grid-column: 1/3;
        grid-row: 1/3;   
    }
    
    .box__text__article{
        grid-column: 1/3;
        grid-row: 3/5;
        margin: 10px 3%;         
    }

    /* ----------------------------------- Configuración main ---------------------------------------------------------- */

    .maintext__box > .title, .maintext__box > .title > .text__color {
        font-size: 38px;        
    }

    .box__text__content, .box__text > a{
        font-size: 20px;
    }

    /* ----------------------------------- Configuración nav ------------------------------------------------------------- */

    .nav > a {
        padding: 0 8px;
    }

    /* ------------------------------ Configuración articulo no2 ---------------------------------------------------------- */

    .article__article__02 > .box__section > .box__text__content {
        font-size: 40px;
    }

    .article__article__02 > .box__section > .box__list{
        padding: 0 6% 5%;
        gap: 30px 60px;
    }

    /* --------------------------------- Configuración footer ---------------------------------------------------------- */
    
    .footer__box__iconsocial > a > img{
        padding: 5px;
        margin: 0 5px;
    }

    .footer__box > .footer__box__copy > .text__footer__copy{
        font-size: 12px;
    }

    .footer__box > .footer__box__icon > .text__footer{
        font-size: 25px;
    }

    .footer__box > .footer__box__icon > a >.icono{
        width: 50px ;
    }
}

@media screen and (max-width: 705px){/* ====================================== 705 ======================================= */
    
/* ----------------------------------- Configuración nav ------------------------------------------------------------- */
        
    .nav{
        width: 100%;  
        display: flex;
        justify-content: space-around;
        align-items: center; 
        
    }

    .nav, .header{
        display: none;
        visibility: hidden;           
    }

    .icon__responsive{
        position: relative;
        visibility: show;
        visibility: visible;
        display: flex;
        color: var(--Black);
        background-color: var(--Green02);
        width: 100vw;
        justify-content: center;
    }

    .icon__responsive > h1 {
        color: var(--Green01);
        background: none;
        align-self: center;
        font-size: 45px;
    }

    .icon__responsive > .icono {
        width: 60px;
        margin: 15px 10px 15px 0;
    }

    .nav__responsive{
        position: relative;
        visibility: show;
        visibility: visible;
        display: flex;
        justify-content: space-around;
    }

    .nav__responsive > a {
        font-size: 25px;
        padding: 10px 0;
    }

  /* ----------------------------------- Configuración main ---------------------------------------------------------- */

    .main__box{
        height: auto;
        background-position: 100% 40%;
        
    }   

    .box__text{
        margin: 0;
        background: none;
        box-shadow: none;
        width: 90%;
    }

    .maintext__box{
        margin: auto;
    }

    .maintext__box > .title{
        padding: 7% 5% 7% 1%;
        font-size: 28;
        
    }

    .maintext__box > .title > .text__color{
        font-size: 28;
        color: var(--Green01);
        
    }

    .main > .main__box > .maintext__box > .box__text__content {
        padding: 2% 3%;
        margin: 0 auto 3%;
        font-size: 16px;
        background-color: var(--Green01);    
    }

    .maintext__box > a{
        font-size: 16px;
        color: var(--Green02);
    }

    /* ------------------------------ Configuración articulo no1 ---------------------------------------------------------- */

    .article__img{
        max-width: 300px;
        height: auto;   
    }
    
    .box__text__article > h3 {    
        font-size: 16px;
    }

    .box__text__article > div > a {    
        font-size: 16px;
    }
    .box__text__article > div > a:hover {
        color: var(--Green01);
        border-bottom: 2px solid var(--Green-01);
    }
    /* ------------------------------ Configuración articulo no2 ---------------------------------------------------------- */

    .article__article__02 > .box__section > .box__text__content {
        font-size: 40px;
        width: 90%;
    }    

    .article__article__02 > .box__section > .box__list{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        padding: 0 3% 5%;
        gap: 15px 0;
    }

    /* --------------------------------- Configuración footer ---------------------------------------------------------- */
    
    .footer__box__iconsocial{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(2, maxcontent);
        margin: 3% 0;
    }

}

@media screen and (max-width: 450px){/* ====================================== 450 ======================================= */

    /* --------------------------------- Configuración nav --------------------------------------------------------------- */

    .article__box{
        width: 100%;
    }

    .nav__responsive > a {
        font-size: 16px;
        padding: 10px 0;
    }


    /* --------------------------------- Configuración footer ---------------------------------------------------------- */
    .footer__box__iconsocial > a > img{
        padding: 3px;
        margin: 0 3px;
    }

    .footer__box > .footer__box__copy > .text__footer__copy{
        font-size: 7px;
    }

    .footer__box > .footer__box__icon > .text__footer{
        font-size: 20px;
    }

    .footer__box > .footer__box__icon > a >.icono{
        width: 40px ;
    }
}